.auth-layout {
  background-color: var(--background-color);
  min-height: 100vh;
  height: 100vh;
  overflow-y: auto;
  &__body {
    min-height: calc(100vh - 75px);
    padding-top: 50px;
    height: 100%;
  }
}
