:root {
  --background-color: #f0f0f0;
  --background-secondary-color: #dfdfdf;
  --card-color: #ffffff;
  --line-color: #828282;
  --accent-color: #cd1a1a;
  --text-primary-color: #3f3e4a;
  --text-secondary-color: #767676;
  --icon-color: #969fa1;
  --error-color: #dd5c73;
}
