.appButton {
  width: 100%;
}

.filledBtn {
  border-color: transparent;
  background-color: var(--accent-color);
  color: #ffffff;
}

.appButtonMedium {
  border-radius: 8px;
  font-weight: 400;
  font-size: 16px;
  height: 40px;
  padding: 7px, 40px, 7px, 40px;
}

.appIconButton {
  width: 40px !important;
  padding: 0 !important;
}

.spinner {
  width: 20px;
  height: 20px;
  margin-top: 8px;
}

.appButtonDisabled {
  background: var(--icon-color);
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
  cursor: not-allowed;
}
